.root {
  padding: 20px;
}

.content {
  padding: 20px;
  background: var(--bg-content);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.table {
  margin-top: 20px;
}
.pagination {
  margin-top: 20px;
}

.cover {
  margin: 0 auto;
  width: 60px;
  img {
    width: 100%;
  }
}
