.root {
  background: var(--bg-content);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.head {
  color: var(--text-color);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  font-weight: 700;
}
