.root {
  height: 100vh;
  position: relative;
  display: flex;
}

.loginBg {
  height: 100%;
  width: 500px;
  background-position: bottom;
  background-size: 100%;
}

.content {
  flex: 1;
  position: relative;
  background: var(--bg-body);
}


.loginBox {
  padding:40px 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: var(--bg-content);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  .tab { 
    margin-bottom: 30px;
    display: flex;
    span {
      &:global(.active) {
        &::after {
          background: var(--primary);
        }
      }
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 2px;
        left: 50%;
        bottom: -6px;
        transform: translateX(-50%);
        background: transparent;
      }
    }
    div {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      flex: 1;
    }
  }
  .inputContinaer {
    margin-top: 20px;
    width: 300px;
    input {
      height: 38px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 0 10px;
      outline: none;
    }
  }
}

.btn {
  height: 40px;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  background: var(--primary);
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}