.root {
  text-align: center;
  color: var(--text-color);
  a {
    color: var(--second-text-color);
    font-size: 12px;
    &:hover {
      color: var(--primary);
    }
  }
  i {
    font-size: 30px;
  }
}

.desc {
  color: var(--second-text-color);
  span {margin-left: 4px;}
}