@media (max-width: 768px) {
  .pageSide {
    display: none;
  }
}

.root {
  display: flex;
}
.pageContainer {
  &:global(.cover) {
    padding-top: 10px;
  }
}
.pageContainer {
  width: 0;
  flex: 1;
  background: var(--bg-content);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  .pageCover {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .pageTitle {
    margin-top: 20px;
    text-align: center;
    .hr {
      margin: 0 20px;
      border-bottom: 1px solid var(--border-color);
    }
    h2 {
      font-size: 30px;
      color: var(--text-color);
    }
    span {
      color: var(--grey-color);
      margin: 0 10px;
    }
  }
  .pageContent {
    padding: 20px;
  }
}

.pageSide {
  width: 300px;
  margin-left: 20px;
  .navContent {
    position: sticky;
    top: 74px;
  }
  .recomdList {
    padding: 6px 0;
  }
  .recomd {
    cursor: pointer;
    color: var(--text-color);
    padding: 8px 10px;
    line-height: 1;
    &:hover {
      color: var(--primary);
    }
  }
}
