@media (max-width: 768px) {
  .pageSide {
    display: none;
  }
  .pageContent {
    img {
      width: auto !important;
    }
  }
}
@media (max-width: 996px) {
  .pageCover img {
    height: 200px !important;
  }
}

.root {
  display: flex;
}
.pageContainer {
  &:global(.cover) {
    padding-top: 10px;
  }
}
.pageContainer {
  width: 0;
  flex: 1;
  background: var(--bg-content);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  .pageCover {
    padding: 10px;
    img {
      width: 100%;
      height: 400px;
      // height: 20%;
      object-fit: cover;
    }
  }
  .pageTitle {
    margin-top: 20px;
    text-align: center;
    .hr {
      margin: 0 20px;
      border-bottom: 1px solid var(--border-color);
    }
    h2 {
      font-size: 30px;
      font-weight: bold;
      color: var(--text-color);
      padding: 0 20px;
    }
    span {
      color: var(--grey-color);
      margin: 0 10px;
    }
  }
  .spinner {
    padding: 160px 0;
  }
  .pageContent {
    padding: 20px;
    h3 {
      font-weight: bold;
    }
    img {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }
}

.pageSide {
  width: 300px;
  margin-left: 20px;
  .navContent {
    position: sticky;
    top: 74px;
  }
  .recomdList {
    padding: 6px 0;
  }
  .recomd {
    cursor: pointer;
    color: var(--text-color);
    padding: 8px 10px;
    line-height: 1;
    &:hover {
      color: var(--primary);
    }
  }
}
