.root {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: var(--bg-head);
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s linear;
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .menu {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 990px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.logo {
  margin-right: 60px;
  a {
    display: flex;
    align-items: center;
  }
  .title {
    padding-left: 4px;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
  }
  &:hover .title {
    color: var(--primary);
  }
}

.nav {
  padding: 0;
  margin: 0;
  li {
    font-weight: 700;
    font-size: 16px;
    padding: 0 20px;
    display: inline-block;
    &:global(.active) {
      a {
        color: var(--primary);
      }
    }
    a {
      color: var(--text-color);
      &:hover {
        color: var(--primary);
      }
    }
  }
}

.theme {
  flex: 1;
  text-align: right;
  i {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}

.menu {
  display: none;
  margin-left: 20px;
  i {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: var(--primary);
    }
  }
}

.menuList {
  text-align: center;
  line-height: 60px;
  overflow: hidden;
  background: var(--bg-head);
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  &:global(.active) {
    color: var(--primary);
  }
}
